body {
    min-width:800px;
}

span {
    font-size: 1.5em;
}

#note {
    font-size: 1em;
}

#donation{
    font-size: 1em;
}

#business_link {
    font-size: 1.25em;
}

#div2 {
    font-size: 1.25em;
}



